.header {
    background-image: url('/img/intro.png');
    background-position: center center;
    background-size: cover;
    color: white;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    width: auto;

    a:visited {
        color: white;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        border-bottom: white 1px solid;
        width: 100%;
        position: fixed;
        /*ПЕРЕСМОТРИ ТУТ JS НАДО*/

        .navigation__leftside {
            display: flex;
            flex-direction: row;

            li {
                padding: 30px;
            }

            li:hover {
                background-color: white;
                color: black;

                a:visited {
                    color: black;
                }
            }



            .licrosed {
                position: relative;

            }

            .licrosed:before {

                content: " ";
                position: absolute;
                top: 38px;
                left: 0px;
                border-bottom: 3px solid #9DB892;
                width: 100%;
            }
        }

        .navigation__logo {
            padding: 20px;
            margin: 4px auto;
            font-size: 32px;
            font-weight: 400;
        }



        .navigation__rightside {
            display: flex;
            flex-direction: row;

            p {
                padding: 30px;
                border-left: solid 1px white;
            }

            p:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .scroller {
        background-color: white;
        color: black;
    }

    @media (max-width: 906px) {
        .navigation__burger {
            display: block;
            position: fixed;
            top: 7px;
            right: 10px;
            width: 60px;
            height: 50px;
            z-index: 3;

            span {
                position: absolute;
                background-color: white;
                left: 0;
                width: 100%;
                height: 4px;
                top: 28px;
            }
        }

        .navigation__burger::before,
        .navigation__burger::after {
            content: "";
            background-color: white;
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
        }

        .navigation__burger::before {
            top: 10px;
        }

        .navigation__burger::after {
            bottom: 0;
        }

        .nav {
            background-color: rgba(0, 0, 0, 0.699);
            width: 100%;
            height: 75px;
            position: fixed;
            z-index: 2;
        }

        .navigation {
            background-color: rgba(0, 0, 0, 0.925);
            z-index: 4;
            flex-direction: column;
            height: 0%;

            .navigation__logo {
                order: -3;
                z-index: 4;
                position: fixed;
                left: 0;
            }

            .navigation__rightside {
                z-index: 2;
                flex-direction: column;
                margin: 0 auto;
                width: 40%;
                display: none;

                p {
                    border: none;
                }

            }

            .navigation__leftside {
                flex-direction: column;
                margin: 0 auto;
                width: 40%;
                height: 0%;
                display: none;
            }

            .navigation__close {
                position: absolute;
                top: 50%;
                left: 47%;
                width: 32px;
                height: 32px;
                opacity: 0.5;
                display: none;
            }

            .navigation__close:hover {
                opacity: 1;
            }

            .navigation__close:before,
            .navigation__close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 70px;
                width: 8px;
                background-color: rgb(252, 247, 247);
            }

            .navigation__close:before {
                transform: rotate(45deg);
            }

            .navigation__close:after {
                transform: rotate(-45deg);
            }

            .active {
                display: flex;
            }

        }

        .info__block {
            margin: 0 0 30% 0;
        }
    }

    .active-nav {
        height: 100%;
    }

    /*Тут конец*/


    .arowwplace {
        position: absolute;
        right: 50%;
        top: 80%;
        z-index: 0;

        .arrow {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid white;
            margin: 0 auto;
        }

        i {
            border: solid white;
            border-width: 0 2px 2px 0px;
            display: inline-block;
            padding: 4px;
            position: relative;
            top: 16px;
            left: 18px;

        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }


    }

    .info {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: flex-end;
        justify-content: space-between;



        .info__vert {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin: 0 30px;


            p {
                transform: rotate(-180deg);
                writing-mode: vertical-lr;
                margin: 20px 0;
                font-size: 24px;
            }

            .info__line {

                height: 50px;
                border-left: rgb(255, 255, 255) solid 3px;
            }
        }

        .arowinf {
            margin: 0 20% 15% 2%;

            .info__block {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: end;


                .info__h2 {
                    font-size: 41px;
                    letter-spacing: 8px;
                    line-height: 60px;
                }

                .info__disc {
                    letter-spacing: 8px;
                    font-weight: 300;
                    font-size: 18px;
                    margin: 25px 0 20px 0;
                }

                a {
                    .info__button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 20px;
                        border: solid rgba(255, 255, 255, 0.26) 3px;
                        text-align: center;
                        margin-top: 30px;

                        .info__button-line {
                            margin-left: 15px;
                            width: 50px;
                            border-bottom: white 2px solid;
                        }
                    }

                }

                .info__bottext {
                    margin-top: 15px;
                    font-size: 16px;
                    text-align: end;
                    letter-spacing: 6px;
                    font-weight: 300;
                }
            }



        }


    }
}

@media (max-width: 520px) {
    .header .arowwplace {
        top: 85%;
        right: 46%;
    }

    .header .navigation .navigation__close {
        left: 45%;
    }
}