.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-wrapper {
    margin: 12% auto;
    display: flex;
    font-family: "Oswald";
    flex-direction: column;
    width: 450px;

}


.questions__h2 {
    text-align: center;
    font-size: 30px;
    margin: 70px 0px;
}

#firstask {
    border-top: #98a172 solid 2px;
}

.questions__item {
    padding: 20px 0;
    border-bottom: #98a172 solid 2px;
}

.questions__ask {
    color: #89916C;
    letter-spacing: 3px;

    span {
        font-family: "Material Icons";
        font-size: 32px;
        vertical-align: -7px;
    }
}

.qustions__answ {
    margin: 15px 0;
    display: none;
}

.activequest {
    display: block;
}

@media (max-width:530px) {
    .questions-wrapper {
        width: 100%;
    }

    .questions__item {
        text-align: center;
    }

    .qustions__answ {
        padding: 0 3px;
    }
}