@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.scrolled,
body.scrolled {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background-image: url("../img/intro.png");
  background-position: center center;
  background-size: cover;
  color: white;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  width: auto;
  /*Тут конец*/
}

.header a:visited,
.header a {
  color: white;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-bottom: white 1px solid;
  width: 100%;
  position: fixed;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  z-index: 2;
  /*ПЕРЕСМОТРИ ТУТ JS НАДО*/
}

.header .navigation.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.header .navigation .navigation__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .navigation .navigation__leftside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navigation .navigation__leftside li a {
  height: 100%;
  padding: 0 30px;
  line-height: 80px;
  position: relative;
  z-index: 5;
}

.header .navigation .navigation__leftside li:hover {
  background-color: white;
  color: black;
}

.header .navigation .navigation__leftside li:hover a:visited {
  color: black;
}

.header .navigation .navigation__leftside li:hover a:hover {
  color: black;
}

.header .navigation .navigation__leftside .licrosed {
  position: relative;
}

.header .navigation .navigation__leftside .licrosed a:before {
  content: " ";
  position: absolute;
  top: 38px;
  left: 0px;
  border-bottom: 3px solid #9DB892;
  width: 100%;
}

.header .navigation .navigation__logo {
  padding: 20px;
  margin: 4px auto;
  font-size: 32px;
  font-weight: 400;
}

.header .navigation .navigation__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .navigation .navigation__rightside p {
  padding: 30px;
  border-left: solid 1px white;
}

.header .navigation .navigation__rightside p:hover {
  background-color: white;
  color: black;
}

.header .scroller {
  background-color: white;
  color: black;
}

@media (max-width: 906px) {
  .header .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navigation__burger {
    display: block;
    position: fixed;
    top: 7px;
    right: 10px;
    width: 60px;
    height: 50px;
    z-index: 3;
  }
  .header .navigation__burger .burgerspan {
    position: absolute;
    background-color: white;
    left: 0;
    width: 60px;
    height: 4px;
    top: 28px;
  }
  .header .navigation__burger::before,
  .header .navigation__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
  }
  .header .navigation__burger::before {
    top: 10px;
  }
  .header .navigation__burger::after {
    bottom: 0px;
  }
  .header .nav {
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 2;
  }
  .header .navigation {
    background-color: rgba(0, 0, 0, 0.925);
    z-index: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0%;
  }
  .header .navigation .navigation__logo {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
    z-index: 4;
    position: fixed;
    left: 0;
  }
  .header .navigation .navigation__rightside {
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 40%;
    display: none;
  }
  .header .navigation .navigation__rightside p {
    border: none;
  }
  .header .navigation .navigation__leftside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 40%;
    display: none;
  }
  .header .navigation .navigation__close {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: none;
  }
  .header .navigation .navigation__close:hover {
    opacity: 1;
  }
  .header .navigation .navigation__close:before,
  .header .navigation .navigation__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 70px;
    width: 8px;
    background-color: #fcf7f7;
  }
  .header .navigation .navigation__close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .navigation .navigation__close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .navigation .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .info__block {
    margin: 0 0 30% 0;
  }
}

.header .active-nav {
  height: 100%;
}

.header .arowwplace {
  position: absolute;
  right: 50%;
  top: 80%;
  z-index: 0;
}

.header .arowwplace .arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
}

.header .arowwplace i {
  border: solid white;
  border-width: 0 2px 2px 0px;
  display: inline-block;
  padding: 4px;
  position: relative;
  top: 16px;
  left: 18px;
}

.header .arowwplace .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .info .info__vert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 30px;
  z-index: 1;
}

.header .info .info__vert p {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 20px 0;
  font-size: 24px;
}

.header .info .info__vert .info__line {
  height: 50px;
  border-left: white solid 3px;
}

.header .info .arowinf {
  margin: 0 20% 15% 2%;
}

.header .info .arowinf .info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.header .info .arowinf .info__block .info__h2 {
  font-size: 41px;
  letter-spacing: 8px;
  line-height: 60px;
}

.header .info .arowinf .info__block .info__disc {
  letter-spacing: 8px;
  font-weight: 300;
  font-size: 18px;
  margin: 25px 0 20px 0;
}

.header .info .arowinf .info__block a .info__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: solid rgba(255, 255, 255, 0.26) 3px;
  text-align: center;
  margin-top: 30px;
}

.header .info .arowinf .info__block a .info__button:hover {
  background-color: rgba(255, 255, 255, 0.795);
  color: #272727;
}

.header .info .arowinf .info__block a .info__button:hover .info__button-line {
  border-bottom: #272727 2px solid;
}

.header .info .arowinf .info__block a .info__button-line {
  margin-left: 15px;
  width: 50px;
  border-bottom: white 2px solid;
}

.header .info .arowinf .info__bottext {
  margin-top: 15px;
  font-size: 16px;
  text-align: end;
  letter-spacing: 6px;
  font-weight: 300;
}

@media (max-width: 320px) {
  .header .info .arowinf {
    margin: 0;
  }
  .header .info .arowinf .info__block .info__h2 {
    line-height: 40px;
    letter-spacing: 3px;
    text-align: center;
  }
  .header .info .arowinf .info__block a .info__button {
    width: 80%;
    margin: 0px;
    padding: 5px;
  }
  .header .info .arowinf .info__block .info__bottext {
    margin: 2px 0;
  }
  .header .info .arowinf .info__block .info__disc {
    margin: 10px 0;
    letter-spacing: 5px;
  }
}

.header .arowwplace {
  top: 90%;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

@media (max-height: 600px) {
  .header .navigation .navigation__leftside li a {
    height: 100%;
    padding: 0 0px;
    line-height: 70px;
  }
  .header .navigation .navigation__leftside .licrosed {
    display: none;
  }
  .header .navigation .navigation__rightside p {
    height: 10px;
    font-size: 18px;
  }
  .header .navigation .navigation__close {
    top: 45%;
  }
}

.about {
  font-family: 'Oswald';
}

.about .trust {
  margin: 70px auto;
  padding: 35px;
  background-image: url("../img/radius.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.about .trust .trust__h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about .trust .trust__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .trust .trust__images div {
  margin: 0 15px;
}

.about .trust .trust__images div img {
  width: 100%;
  height: auto;
}

.about .products-wrapper {
  width: 100%;
}

.about .products-wrapper .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3% 5%;
}

.about .products-wrapper .products .products__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 32px;
  border-bottom: 5px solid #CED6AF;
}

.about .products-wrapper .products .products__navigation .products__link {
  color: black;
  padding: 20px;
}

.about .products-wrapper .products .products__navigation .products__link:visited {
  color: black;
}

.about .products-wrapper .products .products-tabs .products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__text {
  margin: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__text .products-item__h3 {
  font-size: 28px;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__text .products-item__disc {
  font-size: 18px;
  color: grey;
  padding: 30px 0;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__imges {
  width: 60%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__imges .products-item__img {
  width: 100%;
  margin: 50px 0;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__imges .products-item__img img {
  width: 100%;
}

.about .products-wrapper .products .products-tabs .activeblocktab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activetab {
  -webkit-box-shadow: 0px 5px 0px -1px #1C1C1B;
          box-shadow: 0px 5px 0px -1px #1C1C1B;
}

@media (max-width: 720px) {
  .about {
    font-family: 'Oswald';
  }
  .about .trust {
    margin: 70px auto;
    padding: 35px;
    background-image: url("../img/radius.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
  }
  .about .trust .trust__h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .about .trust .trust__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .trust .trust__images div {
    margin: 0 15px;
  }
  .about .trust .trust__images div img {
    width: 100%;
    height: auto;
  }
  .about .products-wrapper {
    width: 100%;
  }
  .about .products-wrapper .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3% 0px;
  }
  .about .products-wrapper .products .products__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 32px;
    border-bottom: none;
  }
  .about .products-wrapper .products .products__navigation .products__link {
    color: black;
    padding: 20px;
  }
  .about .products-wrapper .products .products__navigation .products__link:visited {
    color: black;
  }
  .about .products-wrapper .products .products-tabs .products-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .about .products-wrapper .products .products-tabs .products-item .products-item__text {
    margin: 10%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .about .products-wrapper .products .products-tabs .products-item .products-item__text .products-item__h3 {
    font-size: 28px;
  }
  .about .products-wrapper .products .products-tabs .products-item .products-item__text .products-item__disc {
    font-size: 18px;
    color: grey;
    padding: 30px 0;
  }
  .about .products-wrapper .products .products-tabs .products-item .products-item__imges {
    width: 80%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .about .products-wrapper .products .products-tabs .products-item .products-item__imges .products-item__img {
    width: 100%;
    margin: 50px 0;
  }
  .about .products-wrapper .products .products-tabs .products-item .products-item__imges .products-item__img img {
    width: 100%;
  }
  .about .products-wrapper .products .products-tabs .activeblocktab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .activetab {
    background-color: #5a5e4d;
    -webkit-box-shadow: 0px 5px 0px -1px #1C1C1B;
            box-shadow: 0px 5px 0px -1px #1C1C1B;
    color: white !important;
  }
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-list {
  overflow: hidden;
}

.buy__item {
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy {
  text-align: center;
}

.buy__h3 {
  font-family: "Oswald";
  font-size: 30px;
  margin: 5% auto;
  text-align: center;
}

.buy__item {
  font-family: "Oswald";
  margin: 0 30px;
}

.buy__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buy__place a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.buy__place a:visited {
  color: white;
}

.buy__place a:hover {
  color: black;
}

.buy__place a:hover .buy__button {
  background-color: grey;
}

.buy__place a:hover .buy__line {
  width: 40px;
  border-bottom: solid 3px black;
  margin: 0 10px;
}

.buy__price {
  background-color: #F1F1F1;
  padding: 20px;
  -webkit-box-flex: 1.8;
      -ms-flex-positive: 1.8;
          flex-grow: 1.8;
  border-left: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.buy__button {
  background-color: #6E774A;
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__line {
  width: 40px;
  border-bottom: solid 3px white;
  margin: 0 10px;
}

.buy__itemdisc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #CED6AF;
  display: flex;
  height: 100%;
}

.buy__itemdisc span {
  font-family: 'Material Icons';
  color: #6E774A;
}

.buy__stars {
  margin: 10px;
}

.buy__h4 {
  margin-bottom: 20px;
}

.buy__img {
  margin: 10px;
}

.buy__slider {
  min-width: 0px;
  position: relative;
}

.buy__slider .slick-arrow {
  font-size: 0;
}

.buy__slider .slick-arrow.slick-prev {
  background: url("../img/leftarrow.png") 0 0/100% no-repeat;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 55px;
  height: 40px;
  position: absolute;
  top: 110%;
  left: 30%;
  /*right: 10%;
    top: 460px;*/
}

.buy__slider .slick-arrow.slick-next {
  background: url("../img/rightarrow.png") 0 0/100% no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 55px;
  height: 40px;
  position: absolute;
  right: 30%;
  top: 110%;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions-wrapper {
  margin: 12% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}

.questions__h2 {
  text-align: center;
  font-size: 30px;
  margin: 70px 0px;
}

#firstask {
  border-top: #98a172 solid 2px;
}

.questions__item {
  padding: 20px 0;
  border-bottom: #98a172 solid 2px;
}

.questions__ask {
  color: #89916C;
  letter-spacing: 3px;
}

.questions__ask span {
  font-family: "Material Icons";
  font-size: 32px;
  vertical-align: -7px;
}

.qustions__answ {
  margin: 15px 0;
  display: none;
}

.activequest {
  display: block;
}

@media (max-width: 530px) {
  .questions-wrapper {
    width: 100%;
  }
  .questions__item {
    text-align: center;
  }
  .qustions__answ {
    padding: 0 3px;
  }
}

.testimonial__slider {
  min-width: 0px;
  position: relative;
}

.testimonial__slider .firstpic {
  background-image: url("../img/backgroundlower.png");
}

.testimonial__slider .secondpic {
  background-image: url("../img/family.jpg");
}

.testimonial__slider .thirdpic {
  background-image: url("../img/cbdhealth.jpg");
}

.testimonial__slider .testimonial__item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  font-family: "Oswald";
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__slider .testimonial__item .testimonial__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  min-width: 300px;
  margin: 20% 0 16% 0;
}

.testimonial__slider .testimonial__item .testimonial__textblock .testimonial__stars {
  font-family: "Material Icons";
  margin: 30px 0;
  color: #AAB384;
}

.testimonial__slider .testimonial__item .testimonial__textblock .testimonial__review {
  font-size: 22px;
  color: white;
  letter-spacing: 4px;
  font-weight: 300;
  line-height: 30px;
}

.testimonial__slider .testimonial__item .testimonial__textblock .testimonial__tag {
  margin: 30px;
  font-size: 32px;
  font-weight: 500;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
}

.testimonial__slider .testimonial__item .testimonial__textblock .testimonial__tag .testimonial__line {
  border-bottom: 5px solid white;
  width: 40px;
  margin: 10px;
}

.testimonial__slider .slick-arrow {
  font-size: 0;
  border: 1px solid white;
  padding: 40px;
}

.testimonial__slider .slick-arrow:hover {
  -webkit-box-shadow: 0px 0px 52px 14px rgba(255, 255, 255, 0.29) inset;
          box-shadow: 0px 0px 52px 14px rgba(255, 255, 255, 0.29) inset;
}

.testimonial__slider .slick-arrow.slick-prev {
  background: url("../img/west.png") center center/50% no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 85%;
  right: 50%;
  z-index: 1;
}

.testimonial__slider .slick-arrow.slick-next {
  background: url("../img/east.png") center center/50% no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 85%;
  z-index: 1;
}

.footer {
  width: 100%;
}

.footer .copy {
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 8%;
}

.footer .footer-wrapper .footer__side {
  border-top: 3px solid #6E774A;
  width: 33%;
  min-width: 300px;
  font-family: "Oswald";
  letter-spacing: 4px;
  padding: 10% 0;
}

.footer .footer-wrapper .footer__side .footer__linkblock a {
  color: #6E774A;
  padding: 18px 0;
  display: block;
}

.footer .footer-wrapper .footer__side .footer__linkblock a:visited {
  color: black;
}

.footer .footer-wrapper .footer__side .footer__linkblock a:hover {
  background-color: grey;
  color: white;
}

.footer .footer-wrapper .footer__mainside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-wrapper .footer__mainside .footer__h4 {
  font-size: 46px;
  font-weight: 600;
  color: #6E774A;
  font-family: "Oswald";
  margin: 10% 0;
}

.footer .footer-wrapper .footer__mainside .footer__icons {
  color: #6E774A;
  font-size: 24px;
  letter-spacing: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 40px 0;
}

.footer .footer-wrapper .footer__mainside .footer__icons i {
  padding-left: 20px;
  text-align: center;
}

.footer .footer-wrapper .footer__mainside .footer__midlane {
  height: 80px;
  border-left: 3px solid;
  color: #6E774A;
  margin-bottom: 30px;
}

.footer .footer-wrapper .footer__mainside .footer__text {
  font-family: "Oswald";
  margin: 36px 0;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 22px;
}

.footer .footer-wrapper .footer__mainside form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.footer .footer-wrapper .footer__mainside form .formmail {
  padding: 16px;
  border: #CED6AF solid 2px;
  font-family: "Oswald";
  font-weight: 200;
  color: #CED6AF;
}

.footer .footer-wrapper .footer__mainside form .formsumb {
  padding: 16px;
  border-right: #CED6AF solid 2px;
  border-top: #CED6AF solid 2px;
  border-bottom: #CED6AF solid 2px;
  background: url("../img/rightarrow.png") center center/75% no-repeat;
  font-size: 0;
}

@media (max-width: 780px) {
  .footer {
    width: 100%;
  }
  .footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    margin: 10%;
  }
  .footer .footer-wrapper .footer__mainside {
    margin: 20px 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer .footer-wrapper .footer__mainside .footer__midlane {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */