@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.scrolled,
body.scrolled {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background-image: url("../img/intro.png");
  background-position: center center;
  background-size: cover;
  color: white;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  width: auto;
  /*Тут конец*/
}

.header a:visited,
.header a {
  color: white;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-bottom: white 1px solid;
  width: 100%;
  position: fixed;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  z-index: 2;
  /*ПЕРЕСМОТРИ ТУТ JS НАДО*/
}

.header .navigation.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.header .navigation .navigation__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .navigation .navigation__leftside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navigation .navigation__leftside li a {
  height: 100%;
  padding: 0 30px;
  line-height: 80px;
  position: relative;
  z-index: 5;
}

.header .navigation .navigation__leftside li:hover {
  background-color: white;
  color: black;
}

.header .navigation .navigation__leftside li:hover a:visited {
  color: black;
}

.header .navigation .navigation__leftside .licrosed {
  position: relative;
}

.header .navigation .navigation__leftside .licrosed a:before {
  content: " ";
  position: absolute;
  top: 38px;
  left: 0px;
  border-bottom: 3px solid #9DB892;
  width: 100%;
}

.header .navigation .navigation__logo {
  padding: 20px;
  margin: 4px auto;
  font-size: 32px;
  font-weight: 400;
}

.header .navigation .navigation__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .navigation .navigation__rightside p {
  padding: 30px;
  border-left: solid 1px white;
}

.header .navigation .navigation__rightside p:hover {
  background-color: white;
  color: black;
}

.header .scroller {
  background-color: white;
  color: black;
}

@media (max-width: 906px) {
  .header .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navigation__burger {
    display: block;
    position: fixed;
    top: 7px;
    right: 10px;
    width: 60px;
    height: 50px;
    z-index: 3;
  }
  .header .navigation__burger .burgerspan {
    position: absolute;
    background-color: white;
    left: 0;
    width: 60px;
    height: 4px;
    top: 28px;
  }
  .header .navigation__burger::before,
  .header .navigation__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
  }
  .header .navigation__burger::before {
    top: 10px;
  }
  .header .navigation__burger::after {
    bottom: 0px;
  }
  .header .nav {
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 2;
  }
  .header .navigation {
    background-color: rgba(0, 0, 0, 0.925);
    z-index: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0%;
  }
  .header .navigation .navigation__logo {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
    z-index: 4;
    position: fixed;
    left: 0;
  }
  .header .navigation .navigation__rightside {
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 40%;
    display: none;
  }
  .header .navigation .navigation__rightside p {
    border: none;
  }
  .header .navigation .navigation__leftside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 40%;
    display: none;
  }
  .header .navigation .navigation__close {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: none;
  }
  .header .navigation .navigation__close:hover {
    opacity: 1;
  }
  .header .navigation .navigation__close:before,
  .header .navigation .navigation__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 70px;
    width: 8px;
    background-color: #fcf7f7;
  }
  .header .navigation .navigation__close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .navigation .navigation__close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .navigation .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .info__block {
    margin: 0 0 30% 0;
  }
}

.header .active-nav {
  height: 100%;
}

.header .arowwplace {
  position: absolute;
  right: 50%;
  top: 80%;
  z-index: 0;
}

.header .arowwplace .arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
}

.header .arowwplace i {
  border: solid white;
  border-width: 0 2px 2px 0px;
  display: inline-block;
  padding: 4px;
  position: relative;
  top: 16px;
  left: 18px;
}

.header .arowwplace .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .info .info__vert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 30px;
  z-index: 1;
}

.header .info .info__vert p {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 20px 0;
  font-size: 24px;
}

.header .info .info__vert .info__line {
  height: 50px;
  border-left: white solid 3px;
}

.header .info .arowinf {
  margin: 0 20% 15% 2%;
}

.header .info .arowinf .info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.header .info .arowinf .info__block .info__h2 {
  font-size: 41px;
  letter-spacing: 8px;
  line-height: 60px;
}

.header .info .arowinf .info__block .info__disc {
  letter-spacing: 8px;
  font-weight: 300;
  font-size: 18px;
  margin: 25px 0 20px 0;
}

.header .info .arowinf .info__block a .info__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: solid rgba(255, 255, 255, 0.26) 3px;
  text-align: center;
  margin-top: 30px;
}

.header .info .arowinf .info__block a .info__button .info__button-line {
  margin-left: 15px;
  width: 50px;
  border-bottom: white 2px solid;
}

.header .info .arowinf .info__block .info__bottext {
  margin-top: 15px;
  font-size: 16px;
  text-align: end;
  letter-spacing: 6px;
  font-weight: 300;
}

@media (max-width: 320px) {
  .header .info .arowinf {
    margin: 0;
  }
}

.header .info .arowinf .info__block .info__h2 {
  line-height: 42px;
  letter-spacing: 6px;
}

.header .arowwplace {
  top: 90%;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.about {
  font-family: 'Oswald';
}

.about .trust {
  margin: 70px auto;
  padding: 35px;
  background-image: url("../img/radius.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.about .trust .trust__h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about .trust .trust__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .trust .trust__images div {
  margin: 0 15px;
}

.about .trust .trust__images div img {
  width: 100%;
  height: auto;
}

.about .products-wrapper {
  width: 100%;
}

.about .products-wrapper .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3% 5%;
}

.about .products-wrapper .products .products__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .products-wrapper .products .products__navigation .products__link {
  font-size: 32px;
}

.about .products-wrapper .products .products-tabs .products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

.about .products-wrapper .products .products-tabs .products-item:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__text {
  margin: 10%;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__text .products-item__h3 {
  font-size: 28px;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__text .products-item__disc {
  font-size: 18px;
  color: grey;
  padding: 30px 0;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__imges {
  width: 50%;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__imges .products-item__img {
  width: 100%;
  margin: 50px 0;
}

.about .products-wrapper .products .products-tabs .products-item .products-item__imges .products-item__img img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */